.circle-container {
  color: #fff;
  border-radius: 16px;
}

.circle-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.big-circle {
  position: relative;
  width: 180px;
  height: 180px;
  flex-shrink: 0;
}

.big-circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: #2e2e2e;
  stroke-width: 10;
}

.circle-progress, 
.circle-progress-small {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.circle-text .value {
  font-size: 45px;
  font-weight: 500;
  line-height: 35px;
  margin: 0;
  line-height: 0.8;
}

.circle-text .label {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1;
}

.small-circles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small-circle {
  position: relative;
  width: 59.93px;
  height: 61.19px;
  flex-shrink: 0;
}

.small-circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.small-circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.small-circle-text .small-value {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.small-circle-text .small-label {
  font-size: 6px;
  margin: 0;
  line-height: 1;
}

@media (max-width: 1370px) {
  .big-circle {
    width: 170px;
    height: 170px;
  }
  .circle-text .value {
    font-size: 40px;
    font-weight: 500;
    line-height: 35px;
    margin: 0;
    line-height: 0.8;
  }

  .circle-text .label {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
  }
  .small-circle {
    width: 56px;
    height: 56px;
  }

}

@media (max-width: 1248px) {
  .big-circle {
    width: 140px;
    height: 140px;
  }
  .circle-text .value {
    font-size: 36px;
    font-weight: 500;
    line-height: 35px;
    margin: 0;
    line-height: 0.8;
  }

  .circle-text .label {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
  }
  .small-circle {
    width: 50px;
    height: 50px;
  }


  .small-circle-text .small-value {
    font-size: 8px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
  }

  .small-circle-text .small-label {
    font-size: 6px;
    margin: 0;
    line-height: 1;
  }

}

@media (max-width: 1000px) {
  .circle-section {
    flex-direction: column; 
    align-items: center;
    gap: 16px;
  }
  .circle-container {
    display: flex;
    flex-direction: column;
  }

  .big-circle {
    width: 210px;
    height: 210px;
  }
  .circle-text .value {
    font-size: 50px;
  }

  .circle-text .label {
    font-size: 35px;
  }

  .small-circles {
    display: flex;
    flex-direction: row;
    gap: 22px;
  }

  .small-circle {
    width: 85px;
    height: 85px;
  }

  .small-circle-text .small-value {
    font-size: 12px;
  }

  .small-circle-text .small-label {
    font-size: 10px;
  }


}

@media (max-width: 930px) {
  .big-circle {
    width: 200px;
    height: 200px;
  }
  .circle-text .value {
    font-size: 46px;
  }

  .circle-text .label {
    font-size: 32px;
  }

  .small-circles {
    display: flex;
    flex-direction: row;
    gap: 22px;
  }

  .small-circle {
    width: 80px;
    height: 80px;
  }

  .small-circle-text .small-value {
    font-size: 10px;
  }

  .small-circle-text .small-label {
    font-size: 10px;
  }


}

@media (max-width: 768px) {
  .big-circle {
    width: 140px;
    height: 140px;
  }
  .circle-text .value {
    font-size: 28px;
  }
  .circle-text .label {
    font-size: 20px;
  }
  .small-circle {
    width: 70px;
    height: 70px;
  }
  .small-circle-text .small-value {
    font-size: 9px;
  }
  .small-circle-text .small-label {
    font-size: 9px;
  }
}

@media (max-width: 650px) {
  .circle-section {
    flex-direction: column; 
    align-items: center;
  }
  .big-circle {
    width: 120px;
    height: 120px;
  }
  .circle-text .value {
    font-size: 24px;
    line-height: 1.2;
  }
  .circle-text .label {
    font-size: 16px;
  }

  .small-circles {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .small-circle {
    width: 60px;
    height: 60px;
  }
  .small-circle-text .small-value {
    font-size: 6px;
    line-height: 1.6;
  }
  .small-circle-text .small-label {
    font-size: 8px;
  }
}
