.cards-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
}

.cards-title {
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 15px;
}


.card {
  border-radius: 20px;
  color: white;
  padding: 20px 8px 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}


.card.bronze {
  background: 
    url("/images/bronze-medal.svg") right center/contain no-repeat, 
    url("/images/bonus-bg.svg") center/cover no-repeat;
    background-color: #000; 
}

.card.bonus {
  background: url("/images/bonus-bg.svg");
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000; 
}


.card.bronze h2 {
  color: #d2691e;
  font-weight: bold;
}


.card-text h2 {
  margin: 0;
  font-weight: 500;
  font-style: bold;
  font-size: 40px;
}

.amount {
  font-weight: 600;
  font-style: bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 4px;
}

/* .card-footer{
  width: 254px;
  height: 63px;
  padding-bottom: 40px;
} */

.card-footer .name {
  font-size: 20px;
  font-weight: 500;
  font-style: medium;
  color: white;
  margin: 0;
  margin-bottom: 4px;
}

.card-footer .number {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  opacity: 0.9;
  margin: 0;
}

.medal {
  font-size: clamp(32px, 4vw, 48px);
}

@media (max-width: 1000px) {
  .cards-title {
    font-size: 28px;
    margin-top: 60px;
  }

  .card-text h2 {
    font-size: 36px;
  }

  .amount {
    font-size: 28px;
  }

  .card-footer .name {
    font-size: 18px;
  }

  .card-footer .number {
    font-size: 18px;
  }
}

@media (max-width: 860px) {
  .cards-container {
    gap: 20px;
  }

  .card {
    height: 150px;
  }
  .cards-title {
    font-size: 26px;
    margin-top: 55px;
  }

  .card-text h2 {
    font-size: 34px;
  }

  .amount {
    font-size: 26px;
  }

  .card-footer .name {
    font-size: 16px;
  }

  .card-footer .number {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .card {
    height: 130px;
  }
  .cards-title {
    font-size: 22px;
    margin-top: 50px;
  }

  .card-text h2 {
    font-size: 28px;
  }

  .amount {
    font-size: 16px;
  }

  .card-footer .name {
    font-size: 10px;
  }

  .card-footer .number {
    font-size: 10px;
  }
}


@media screen and (max-width: 600px) {
  .cards-container {
    flex-direction: column;
    gap: 20px;
  }
  .cards-title {
    margin-top: 30px;
  }
  .card {
    width: auto;
  }
}