.stats-grid {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.stat-card { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: auto;
  border-radius: 20px;
  background: var(--color-bg-card, #222);
  color: #fff;
  box-sizing: border-box;
  position: relative;
}



.stat-card p {
  padding-left: 15px;
  padding-top: 10px;
  align-self: flex-start;
  text-align: left;       
  font-size: 16px;
  font-weight: 400;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-text-main, #fff);
  margin-top: 0;
}

.stat-card:first-child p {
  margin-right: 0;
}

.stat-card h1 {        
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: -2px;
  font-size: 50px;
  font-weight: 600;
  font-style: bold;
  line-height: 1.1;
  letter-spacing: 0.5px;
  color: var(--color-accent, #B5FF00);
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}


.stat-card:first-child {
  flex-direction: column;     
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 0;
}

.stat-card:first-child h1 {
  font-size: 28px;
  margin-left: 15px;
  text-align: left;
  width: auto;
  height: auto;
  padding-bottom: 0;
}


@media (max-width: 1000px) {
  .stat-card {
    width: 180px;
    border-radius: 18px;
  }

  .stat-card p {
    font-size: 13px;
  }

  .stat-card h1 {
    font-size: 46px;
  }

  .stat-card:first-child h1 {
    font-size: 20px;
  }
}

@media (max-width: 930px) {
  .stat-card {
    width: 170px;
    border-radius: 16px;
  }

  .stat-card p {
    font-size: 10px;
  }

  .stat-card h1 {
    font-size: 40px;
  }

  .stat-card:first-child h1 {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .stat-card {
    width: 160px;
    border-radius: 14px;
  }

  .stat-card p {
    font-size: 8px;
  }

  .stat-card h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }

  .stat-card:first-child h1 {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .stats-grid {
    gap: 16px;
    margin-top: 16px;
  }
  

  .stat-card {
    width: 160px;
    border-radius: 12px;
  }

  .stat-card p {
    padding-left: 11px;
    padding-top: 8;
    font-size: 7px;
  }

  .stat-card h1 {
    font-size: 30px;
    padding-bottom: 8px;
  }

  .stat-card:first-child h1 {
    margin-left: 11px;
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  .stats-grid {
    gap: 12px;
    margin-top: 12px;
  }
  

  .stat-card {
    width: 150px;
    border-radius: 10px;
  }

  .stat-card p {
    padding-left: 8px;
    padding-top: 5px;
    font-size: 5px;
  }

  .stat-card h1 {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .stat-card:first-child h1 {
    margin-left: 8px;
    font-size: 10px;
  }
}


@media (max-width: 480px) {
  .stats-grid {
    gap: 8px;
    margin-top: 8px;
  }
  

  .stat-card {
    width: 150px;
    border-radius: 6px;
  }

  .stat-card p {
    padding-left: 6px;
    padding-top: 3px;
    font-size: 3px;
  }

  .stat-card h1 {
    font-size: 12px;
    padding-bottom: 4px;
  }

  .stat-card:first-child h1 {
    margin-left: 6px;
    font-size: 6px;
  }
}
