.three-dots-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 4px;
  height: 6px;
}

.dots-button {
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-text-muted)
} 

.menu {
  position: absolute;
  right: 0;
  margin-top: -10px;
  width: 190px;
  background: var(--color-bg-main);
  border-radius: 12px;
  padding: 6px 0;
  z-index: 100;
  overflow: hidden;
}


.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
  background: none;
  border: none;
  border-radius: 10px;
  border-bottom: var(--color-bg-card) 1px solid;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  color: #f5f5f5;
  transition: background 0.2s;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 90%;
}

.menu-item:last-child {
  border-bottom: none;
} 

.menu-item .icon {
  display: flex;
  align-items: center;
  background: transparent;
  font-size: 12px;
}

.menu-item .label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
}

.menu-item:hover {
  background: var(--color-bg-card);
}

.menu-item.danger {
  color: #ff4d4f;
}

.menu-item.danger .icon {
  color: #ff4d4f;
}

.menu-item.highlight {
  color: #fbbf24; 
}

.menu-item.highlight .icon {
  color: #fbbf24;
}
