.trainings,
.trainings-layout,
.trainings-cards,
.training-card {
  box-sizing: border-box;
}

.trainings {
  padding: 0 0 60px 0;
}

.trainings-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  gap: 40px;
  width: 100%;
}

.trainings-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.training-card {
  font-size: 18px;
  font-weight: 500;
  background: #1A1A1A;
  padding: 28px 33px 26px 16px;
  border-radius: 12px;
}

.training-card 


.training-card:hover {
  background: #2a2a2a;
}

@media (max-width: 1200px) {
  .trainings-layout {
    gap: 36px;
  }

  .trainings-cards {
    gap: 16px;
  }

  .training-card {
    font-size: 14px;
    font-weight: 400;
    padding: 24px 30px 22px 12px;
  }
 
}

@media (max-width: 1000px) {
  .trainings {
    padding: 0 0 50px 0;
  }
  .trainings-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  
  .training-card {
    font-size: 12px;
  }
}


@media (max-width: 860px) {
  .trainings-layout {
    gap: 34px;
  }

  .trainings-cards {
    gap: 14px;
  }

  .training-card {
    font-size: 12px;
    font-weight: 400;
    padding: 22px 28px 20px 10px;
  }
 
}

@media (max-width: 650px) {
  .trainings-layout {
    flex-direction: column;
    align-items: center;
    padding-top: 20px; 
  }
  .trainings-cards {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 12px;
  }
  .training-card {
    font-size: 16px;
    padding: 16px; 
    width: 100%;
    max-width: 500px; 
    margin: 0 auto; 
  }
}

